@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:ital,wght@1,100&display=swap');

* {
    margin: 0;
    padding: 0;
}
/* REM : 10PX */
html {
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    background-color: #e8e9eb;
}

/* HEADER */

.encabezado {
    background-image: url(../img/img/portada.jpg);
    background-position: center;
    height: 60vh;
    /* vh : del alto de la pantalla, elegir un porcentaje */
    width: 100%;
    position: relative;
    opacity: 60%;
    grid-area: header;
}

.encabezado div {
    height: 10rem;
    width: 50rem;
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 4px 3px #41463d;
}

nav {
    background-color: #b8cdf8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    grid-area: nav;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 2rem;
}

a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

section {
    margin: 1rem;
    padding: 0.5rem;

    height: 50rem;

    /* los acomodo con flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section img {
    width: 20rem;
    border-radius: 4px;
}

section button {
    border-radius: 5px;
    background-color: #b8cdf8;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* FOOTER  */

footer {
    padding-top: 2rem;
    background-color: #b8cdf8;
    text-align: center;
    grid-area: footer;
}

footer ul li {
    display: inline-block;
    margin: 2rem;
}

/* TRABAJAMOS CON GRID */

.casaA{
    grid-area: casaA;
}

.casaB{
    grid-area: casaB;
}

.casaC{
    grid-area: casaC;
}

.casaD{
    grid-area: casaD;
}

.gridPadre {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "casaA casaB casaC casaD"
    "casaA casaB casaC casaD"
    "footer footer footer footer";
}

/*TABLETA*/

@media (min-width:700px) and (max-width:1100px) {
    .gridPadre {
        grid-template-areas: 
        "header header"
        "nav nav"
        "casaA casaB"
        "casaC casaD"
        "footer footer"
        ;
    }

    section img {
        width: 300px;
    }
}

/*VISTA MOVIL */    

@media (max-width: 699px) {
    .gridPadre {
        grid-template-areas: 
        "header"
        "nav"
        "casaA"
        "casaB"
        "casaC"
        "casaD"
        "footer";
    }

    html {
        font-size: 80%;
    }

    nav {
        position: static;
    }

    .encabezado div {
        max-width: 90%;
    }

    section {
        text-align: center;
    }

    section img {
        width: 300px;
    }
}




